# Core Framework
Flask
gunicorn
werkzeug
python-dotenv
colorama

# Utilities
pytubefix
googletrans==4.0.0-rc1
asyncio
jupyter
lxml
beautifulsoup4
datetime

# RAG & AI
langchain
langchain-community
langchain-mongodb
pymongo
langchain-google-genai
sentence-transformers
langchain-huggingface
huggingface_hub
pypdf
sacremoses