# Flask Web Framework
Flask

# Hugging Face Transformers for loading the local model
transformers

# PyTorch (required by transformers for the models)
torch

# SentencePiece (tokenizer for the Helsinki-NLP models)
SentencePiece

langchain-openai
colorama
werkzeug
sacremoses
# Library for Google Translate comparison (specific version)
googletrans==4.0.0-rc1
asyncio
jupyter
langchain 
pymongo 
pypdf 
sentence-transformers 
beautifulsoup4 
youtube-transcript-api 
lxml
pytubefix
