# Core Web Framework
Flask
python-dotenv
flask-talisman

# Utilities
colorama  
gunicorn

# LangChain Ecosystem (v0.3+)
langchain
langchain-core
langchain-community
langchain-openai
langchain-mongodb
langchain-text-splitters


# Database
pymongo>=4.7

# Document Loading & Processing
pypdf
beautifulsoup4
tiktoken

# Translation
# deep-translator # Might need later

# Dev / Testing
pytest
pytest-flask
pytest-mock
pytest-cov
